<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravenlamb.android.arithmeticgame" >
    <uses-feature android:name="android.hardware.touchscreen" android:required="true"/>

    <!-- todo need icon -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ZenActivity"
            android:label="@string/title_activity_zen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".JourneyActivity"
            android:label="@string/title_activity_journey"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AdventureActivity"
            android:label="@string/title_activity_adventure"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChainActivity"
            android:label="@string/title_activity_chain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HighScoreActivity"
            android:label="@string/title_activity_high_score" >
        </activity>
    </application>

</manifest>
